:root {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-highlight: #2079c7;
  --color-foreground: #eeeeee;
  --color-main: ;
}

html {
  scroll-behavior: smooth;
  color: white;
}

.section-item {
  margin-bottom: 3em;
}

.section-item h1 {
  font-size: 2em;
  font-weight: 700;
}

.section-item > h1 > i {
  font-size: 1em !important;
}

.section-item > h2 {
  font-size: 0.7em;
  font-style: italic;
}

.auto-center {
  margin: 0 auto;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 3px;
}

.single-text {
  display: block;
}

.section-title {
  color: var(--color-foreground);
  font-size: medium;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 4em;
}

.section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.list-group-item {
  border: 0;
  padding: 0.5rem;
}

.my-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.my-image > img {
  min-width: 100%;
  min-height: 100%;
}

.v-center {
  display: flex;
  justify-content: center;
}

.banner {
  background: transparent !important;
  height: 100vh;
  position: relative;
}

.btn {
  box-shadow: 3px 3px 6px #285eb3, -3px -3px 6px #367ff3 !important;
}

.fa,
.fas,
.far,
.fab {
  color: #393e46;
}

.circle {
  border-radius: 50%;
  border: 0;
}

.neu-2 {
  background: linear-gradient(145deg, #3276e2, #2a63be);
  box-shadow: 4px 4px 8px #285eb3, -4px -4px 8px #367ff3;
}

.neu-7 {
  background: #2f6ed3;
  box-shadow: 20px 20px 60px #285eb3, -20px -20px 60px #367ff3;
}
